USE [master]
GO
/****** Object:  Database [Antlia]    Script Date: 03/06/2026 13:36:46 ******/
CREATE DATABASE [Antlia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Antlia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Antlia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Antlia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Antlia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Antlia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Antlia]
GO
/****** Object:  User [antlia]    Script Date: 03/06/2026 13:36:47 ******/
CREATE USER [antlia] FOR LOGIN [antlia] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [antlia]
GO
/****** Object:  Table [dbo].[MOVIMENTO_MANUAL]    Script Date: 03/06/2026 13:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMENTO_MANUAL](
	[DAT_MES] [numeric](2, 0) NOT NULL,
	[DAT_ANO] [numeric](4, 0) NOT NULL,
	[NUM_LANCAMENTO] [numeric](18, 0) NOT NULL,
	[COD_PRODUTO] [char](4) NOT NULL,
	[COD_COSIF] [char](17) NOT NULL,
	[DES_DESCRICAO] [varchar](50) NOT NULL,
	[DAT_MOVIMENTO] [smalldatetime] NOT NULL,
	[COD_USUARIO] [varchar](15) NOT NULL,
	[VAL_VALOR] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_MOVIMENTO_MANUAL] PRIMARY KEY CLUSTERED 
(
	[DAT_MES] ASC,
	[DAT_ANO] ASC,
	[NUM_LANCAMENTO] ASC,
	[COD_PRODUTO] ASC,
	[COD_COSIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 03/06/2026 13:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[COD_PRODUTO] [char](4) NOT NULL,
	[DES_PRODUTO] [varchar](30) NULL,
	[STA_STATUS] [char](1) NULL,
 CONSTRAINT [PK_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[COD_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO_COSIF]    Script Date: 03/06/2026 13:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO_COSIF](
	[COD_PRODUTO] [char](4) NOT NULL,
	[COD_COSIF] [char](17) NOT NULL,
	[COD_CLASSIFICACAO] [char](8) NULL,
	[STA_STATUS] [char](1) NULL,
 CONSTRAINT [PK_PRODUTO_COSIF] PRIMARY KEY CLUSTERED 
(
	[COD_PRODUTO] ASC,
	[COD_COSIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MOVIMENTO_MANUAL]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMENTO_MANUAL_PRODUTO_COSIF] FOREIGN KEY([COD_PRODUTO], [COD_COSIF])
REFERENCES [dbo].[PRODUTO_COSIF] ([COD_PRODUTO], [COD_COSIF])
GO
ALTER TABLE [dbo].[MOVIMENTO_MANUAL] CHECK CONSTRAINT [FK_MOVIMENTO_MANUAL_PRODUTO_COSIF]
GO
ALTER TABLE [dbo].[PRODUTO_COSIF]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_COSIF_PRODUTO] FOREIGN KEY([COD_PRODUTO])
REFERENCES [dbo].[PRODUTO] ([COD_PRODUTO])
GO
ALTER TABLE [dbo].[PRODUTO_COSIF] CHECK CONSTRAINT [FK_PRODUTO_COSIF_PRODUTO]
GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultaProdutosCosif]    Script Date: 03/06/2026 13:36:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ConsultaProdutosCosif]
    @COD_PRODUTO CHAR(4)
AS
BEGIN
    SELECT COD_PRODUTO [CodigoProduto], COD_COSIF [CodigoCosif], COD_CLASSIFICACAO [CodigoClassificacao], STA_STATUS [Status] FROM PRODUTO_COSIF WHERE COD_PRODUTO = @COD_PRODUTO AND STA_STATUS = 'A'
END

GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultaUltimoMovimento]    Script Date: 03/06/2026 13:36:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ConsultaUltimoMovimento]
    @DAT_ANO NUMERIC(4, 0),
    @DAT_MES NUMERIC(2, 0)
AS
BEGIN
    SELECT MAX(NUM_LANCAMENTO) AS Lancamento FROM MOVIMENTO_MANUAL WHERE DAT_ANO = @DAT_ANO AND DAT_MES = @DAT_MES
END

GO
/****** Object:  StoredProcedure [dbo].[usp_InserirMovimento]    Script Date: 03/06/2026 13:36:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_InserirMovimento]
    @DAT_MES NUMERIC(2, 0),
    @DAT_ANO NUMERIC(4, 0),
    @NUM_LANCAMENTO NUMERIC(18, 0),
    @COD_PRODUTO CHAR(4),
    @COD_COSIF CHAR(17),
    @DES_DESCRICAO VARCHAR(50),
    @DAT_MOVIMENTO SMALLDATETIME,
    @COD_USUARIO VARCHAR(15),
    @VAL_VALOR NUMERIC(18, 2)
AS
BEGIN
    INSERT INTO [dbo].[MOVIMENTO_MANUAL]
           ([DAT_MES]
           ,[DAT_ANO]
           ,[NUM_LANCAMENTO]
           ,[COD_PRODUTO]
           ,[COD_COSIF]
           ,[DES_DESCRICAO]
           ,[DAT_MOVIMENTO]
           ,[COD_USUARIO]
           ,[VAL_VALOR])
     VALUES
           (@DAT_MES
           ,@DAT_ANO
           ,@NUM_LANCAMENTO
           ,@COD_PRODUTO
           ,@COD_COSIF
           ,@DES_DESCRICAO
           ,@DAT_MOVIMENTO
           ,@COD_USUARIO
           ,@VAL_VALOR)
END

GO
/****** Object:  StoredProcedure [dbo].[usp_ListaMovimentos]    Script Date: 03/06/2026 13:36:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ListaMovimentos]

AS
BEGIN
    SELECT      P.COD_PRODUTO [CodigoProduto], DES_PRODUTO [DescricaoProduto], DAT_MES [Mes], DAT_ANO [Ano], NUM_LANCAMENTO [Lancamento],
                DES_DESCRICAO [DescricaoMovimento], VAL_VALOR [Valor] 

    FROM        PRODUTO P INNER JOIN MOVIMENTO_MANUAL M ON M.COD_PRODUTO = P.COD_PRODUTO

    ORDER BY    DAT_ANO, DAT_MES, NUM_LANCAMENTO
END

GO
/****** Object:  StoredProcedure [dbo].[usp_ListaProdutos]    Script Date: 03/06/2026 13:36:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ListaProdutos]

AS
BEGIN
    SELECT COD_PRODUTO [Codigo], DES_PRODUTO [Descricao], STA_STATUS [Status] FROM PRODUTO WHERE STA_STATUS = 'A'
END

GO
USE [master]
GO
